.section {
      width: 100%;
      height: 100%;
      background-color: #2B2B2B;


}

.container {
      width: 100%;
      max-width: 1050px;
      margin : auto;
      margin: 80px 195px 195px 80px auto;
      padding-bottom: 80px;
}

.headline-button{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 60px;
      padding-top: 80px;
}

.button {
}

.title {
      color: #FFFFFF;
      gap: 100px;
      height: 94px;
}
.creator-list {
      max-width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: auto;
      gap: 30px;
      justify-content: center;
      padding-left: 0px;
      padding-right: 0px;
      list-style: none;
}
.creator-item {
      position: relative;
      width: calc((100% - 90px) / 4);
      display: flex;
}

.creator-card {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: #3B3B3B;
      position: relative;
      height: 250px;
      width: 250px;
      border-radius: 20px;
      
}

.ranking-number {
      position: absolute;
      display :flex;
      justify-content: center;
      align-items: center;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      top: 15px;
      left: 15px;
      background-color: #2B2B2B;

}

.ranking-number p {
      text-align: center;
      color: #858584;
}



.creator-image {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 120px;
      height: 120px;
      margin-top: 20px;
}

.creator-image img{
      border-radius: 50%;
      width: 100%;
      height: 100%;
}

.creator-info{
      text-align: center;
}
.creator-name {
      font-weight: 600;
      font-size: 22px;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      color: #FFFFFF;
}

.creator-sale {
      color: #858584;
      font-weight: 400;
      size: 16px;
}

.sale-price {
      color: #FFFFFF;
      size: 16px;
      font-family: 'Courier New', Courier, monospace;
}
